header {
    background-color: #CFDD9D;
    padding: 10px;
}
header h1 {
    text-align: center;
    font-family: Fascinate Inline;
    color: #202808;
    font-size: 50px;
}
footer {
    margin-top:0;
    margin-bottom: 0;
    padding: 0;
    height: 20px;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #CFDD9D;
}
footer p {
    text-align: center;
    color: #202808;
}
.background {
   background-color: #202808;
}
.mainbackground {
       background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8c/Bee_blooming_flowers_in_spring.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainbackground h2 {
text-align: center; 
padding: 40px;
font-size: 14em;
font-family: Fleur De Leah;
color: #202808;
-webkit-text-stroke: 0.2px #CFDD9D;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 20px;
  position: relative;
  align-items: end;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav ul li a {
 color: white;
 text-decoration: none;
 -webkit-text-stroke: 0.3px #d8ff61;
}
nav ul li a:hover {
    text-shadow: 0px 0px 30px #9E0232;
    text-transform: uppercase;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
}
p {
    text-align: justify;
    font-size: 19px;
    margin: 0px 25px 25px 25px;
}